<html><head><title>LinkPage</title></head>
<body>
<h1>LinkPage</h1>
<table width ="80%" border="3">
<tr><td><table width="100%" border="1"><tr><td bgcolor="#cccccc" align="center" colspan="2"><b> news</b></td></tr>
<tr>
<td><a href="http://www.people.com.cn/">people</a></td>
<td><a href="http://www.gmw.cn/">gmw</a></td>
</tr></table></td></tr><tr><td><table width="100%" border="1"><tr><td bgcolor="#cccccc" align="center" colspan="3"><b> search</b></td></tr>
<tr>
<td><table width="100%" border="1"><tr><td bgcolor="#cccccc" align="center" colspan="2"><b> yahoo</b></td></tr>
<tr>
<td><a href="http://www.yahoo.com/">usYahoo!</a></td>
<td><a href="http://yahoo.co.jp/">jpYahoo!</a></td>
</tr></table></td><td><a href="http://www.excite.com/">excite</a></td>
<td><a href="http://www.google.com/">google</a></td>
</tr></table></td></tr></table>
<hr><address>guozr</address></body></html>
